<launch>
  
<!-- ################################# -->
<!-- inch dynamixel -->
  <include file="$(find dynamixel_workbench_controllers)/launch/position_control.launch">
  	 <arg name="device_name"			default="/dev/ttyUSB0"/>
 	 <arg name="baud_rate"				default="1000000"/>
  </include>

<!-- ################################# -->
<!-- optitrack -->
  <include file="$(find optitrack)/launch/optitrack.launch">
	 <arg name="server"			default="192.168.10.105"/>
 	 <arg name="local"			default="192.168.10.104"/>
 	 <arg name="multicast_group"		default="239.255.42.99"/>
  </include>

<!-- ################################# -->
<!-- tf -->
  <include file="$(find inch_tf)/launch/inch_tf2_setting.launch">
  </include>

<!-- ################################# -->
<!-- inch manipulator -->
  <arg name="robot_name"			default="/inch"/>
  <arg name="length_1"				default="0.24215"/>
  <arg name="length_2"				default="0.1759"/>
  <arg name="length_3"				default="0."/>

  <node name="inch_manipulator_control" pkg="inch_controllers" type="inch_manipulator_control" required="true" output="screen"> 
  </node>

</launch>
