<launch>
  
	<!-- inch dynamixel -->
	  <include file="$(find dynamixel_workbench_controllers)/launch/position_control.launch">
	  	 <arg name="device_name"			default="/dev/ttyUSB1"/>
	 	 <arg name="baud_rate"				default="4500000"/>
	  </include>



	<!-- rosserial_arduino -->
	  <node pkg="rosserial_arduino" type="serial_node.py" name="ros_arduino_encoder" >
		<param name="port" value="/dev/ttyUSB0"/>
		<param name="baud" value="57600"/>
	  </node>
   

	<!-- inch manipulator -->
	  <arg name="robot_name"			default="/inch"/>
	  <arg name="length_1"				default="0.24215"/>
	  <arg name="length_2"				default="0.1759"/>
	  <arg name="length_3"				default="0."/>

	  <node name="inch_manipulator_control" pkg="inch_controllers" type="inch_manipulator_control" required="true" output="screen"> 
	  </node>

</launch>
