<launch>
  <rosparam command="load" file="$(find inch_controllers)/config/link.yaml"/>
  
  <arg name="robot_name"      default="inch"/>
  
  <param name="robot_name"    value="$(arg robot_name)"/>

  <node name="inch_manipulator_control" pkg="inch_controllers" type="inch_manipulator_control" required="true" output="screen"> 
  </node>

</launch>
