<launch>
      <rosparam command="load" file="$(find inch_controllers)/config/parameters.yaml"/>
      
	<!-- rosserial_arduino -->
	  <node pkg="rosserial_arduino" type="serial_node.py" name="ros_arduino_encoder" >
	  	<param name="port" value="/dev/ttyUSB1"/>
		<param name="baud" value="57600"/>
	  </node>

	<!-- inch manipulator -->
	  <include file="$(find inch_controllers)/launch/inch_manipulator_control.launch">
	  </include>
	 
	  	  
</launch>
