<launch>
      <rosparam command="load" file="$(find inch_controllers)/config/parameters.yaml"/>
      
      
	<!-- inch manipulator -->
	  <include file="$(find inch_controllers)/launch/inch_manipulator_control.launch">
	  </include>

	  
	<!-- tf -->
	  <include file="$(find inch_tf)/launch/inch_tf2_setting.launch">
	  </include>


	<node pkg="rosbag" type="play" name="rosbag1" required="true" args="$(find inch_tf)/bag/2024-07-08-14-22-32.bag -l"/>

	<node pkg="rosbag" type="play" name="rosbag2" required="true" args="$(find inch_tf)/bag/updownsine.bag -l"/>

</launch>
