<launch>

      <rosparam command="load" file="$(find inch_controllers)/config/parameters.yaml"/>
      
	  
	<!-- tf -->
	  <include file="$(find inch_tf)/launch/inch_tf2_setting.launch">
	  </include>
	 
	 
	<!-- Inch Controller-->
	  <node name="inch_manipulator_control" pkg="inch_controllers" type="inch_manipulator_control" required="true" output="screen"> 
	  </node>	  

	<!-- bag file -->
    <node name="inch_data_logging" pkg="data_logging" type="inch_data_logging" required="true" output="screen"> 
    </node>	  

    <node pkg="rosbag" type="record" name="record" output="screen" args="-o /home/choiyujiin/Desktop/apisat_ws/src/inch/data_logging/bag/ /inch/data_log" />
	

</launch>
